<div class='container-fluid' ui-view>
  <div class="jumbotron">
    <h1>Taste of <span>{{city}}</span></h1>
    <p class="lead">
      <img src="/images/yeoman.png" alt="I'm Yeoman"><br>
    </p>
  </div>

  <section ng-show="!tagHasVideos">
    <h2>{{city}} doesn't have {{tagName}} joints!</h2>
    <a ng-href='https://www.tastemade.com/'>Why not add some?</a>
  </section>


  <section ng-show="tagHasVideos">
    <div class='row'>
      <div class='col-md-6'>
        <videogular>
        <video class='videoPlayer' ng-src="{{trustVideo(activeUrl)}}" type="video/mp4" preload='none' controls poster="{{activeVideo.adjustedThumbUrl}}"></video>
        </videogular>
      </div>
      <div class='col-md-6'>
        <google-map center="map.center" zoom="map.zoom">
          <marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" ></marker>
        </google-map>
      </div>
    </div>

    <article>
      <h3>{{activeVideo.venue.name}}</h3>
      <p>{{activeVideo.venue.address}}</p>
    </article>

    <div ng-show='hasMoreVideos'>
      <h2>More Videos from {{activeVideo.venue.name}}</h2>
      <div class='row'>
        <div class='col-md-3' ng-repeat="video in venueVideos">
          <img class='img-responsive' src="{{video.thumbnail.url}}" alt="{{video.title}}">
          <div ng-click='setActiveVideo(video._id)' class='overlay'>
            <div>{{video.title}}</div>
          </div> 
        </div>
      </div>
    </div>

    <h2>Nearby Matches</h2>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-3' ng-repeat="video in matchingVideos">
          <img class='img-responsive' src="{{video.adjustedThumbUrl}}" alt="{{video.title}}">
          <div ng-click='setActiveVideo(video._id)' class='overlay'>
            <div>{{video.title}}</div>
          </div> 
        </div>
      </div>
    </div>

    <div class='container-fluid'>
      <h2>Other Nearby Spots To Chomp Down At</h2>
      <div class="row" ng-repeat="vidGroup in nearbyVideos">
        <div class='col-xs-6 col-sm-3 col-md-3' ng-repeat='vid in vidGroup'>
          <img class='img-responsive' ng-src="{{vid.thumbnail.url}}" alt="restaurant-img"/>
          <div class='overlay'>
            <div>{{vid.title}}</div>
          </div>
        </div>
      </div>
    </div>


    <div>
      <button>Actually, I want something else</button>
    </div>
  </div>

</div>
