<div class='container-fluid' ui-view>
  <div class="jumbotron">
    <h1>Taste of <span>{{city}}</span></h1>
    <p class="lead">
      <img src="/images/yeoman.png" alt="I'm Yeoman"><br>
    </p>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <videogular>
          <video class='videoPlayer' preload='none' controls>
              <source src="https://d2aiijjnretqc1.cloudfront.net/cv/ez/cvezjiaxqwkpmfhr9ptisq/v1/360-600.mp4?" type="video/mp4">
          </video>
      </videogular>
    </div>
    <div class='col-md-6'>
      <google-map center="map.center" zoom="map.zoom">
        <marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" ></marker>
      </google-map>
    </div>
  </div>

  <article>
    <h3>{{activeVideo.venue.name}}</h3>
    <p>{{activeVideo.venue.address}}</p>
  </article>

  <div ng-show='hasMoreVideos'>
    <h2>What should I eat here?</h2>
    <videogular>
        <video class='videoPlayer' preload='none' controls>
            <source src="https://d2aiijjnretqc1.cloudfront.net/cv/ez/cvezjiaxqwkpmfhr9ptisq/v1/360-600.mp4?" type="video/mp4">
        </video>
    </videogular>
  </div>

  <div class='container-fluid'>
    <h2>Other Nearby Spots To Chomp Down At</h2>
    <div class="row">
      <div class='col-md-4'>
        <img class='img-responsive' ng-src="https://api.tmade.co/v1/videos/cVEZjIAxQwKpMfHR9PtisQ/thumbnail?latestVersion=1" alt="restaurant-img"/>
      </div>
      <div class='col-md-4'>
        <img class='img-responsive' ng-src="https://api.tmade.co/v1/videos/cVEZjIAxQwKpMfHR9PtisQ/thumbnail?latestVersion=1" alt="restaurant-img"/>
      </div>
      <div class='col-md-4'>
        <img class='img-responsive' ng-src="https://api.tmade.co/v1/videos/cVEZjIAxQwKpMfHR9PtisQ/thumbnail?latestVersion=1" alt="restaurant-img"/>
      </div>
    </div>
  </div>

  <div>
    <button>Actually, I want something else</button>
  </div>

</div>
