<div class="jumbotron">
  <h1>Taste of <span>{{city}}</span></h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>
</div>

<h4>What do you want in {{city}}?</h4>
<div class='container-fluid'>
  <div class="row img-row">
    <div class='col-md-4 img-card food-suggestions' ng-repeat="idea in foodideas">
      <a ui-sref="chomps({name: idea.details.description})">
        <img class='img-responsive' src="{{idea.img}}" alt='test_img'>
        <div ng-click='getFoodIdea(idea.details.tag_id)' class='overlay'>
          <div>{{idea.details.description}}</div>
        </div>
      </a>
    </div>
  </div>
</div>

<button type='button' class='btn btn-warning v-margin' ng-click='getNewIdeas()'>These suck. Give me something else.</button>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from foodies</p>
</div>
