<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">feedmeseymore</h3>
</div>

<div class="jumbotron">
  <h1>Taste of <span>{{city}}</span></h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>
</div>

<div class='container-fluid'>
  <div class="row">
    <h4>What do you want in {{city}}?</h4>
    <div class='col-md-4' ng-repeat="idea in foodideas">
      <img class='img-responsive' src="images/{{idea.img}}" alt='test_img'>
      <span>{{idea.details.description}}</span>
    </div>
  </div>
</div>

<button type='button' class='btn btn-warning' ng-click='getNewIdeas()'>These suck. Give me something else.</button>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
